{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- About Section -->

    <section class="section-title">
      <div class="container text-center px-5 pb-5">
        <div class="section-content">
          <h1 class="fw-bold">About Me</h1>
        </div>
      </div>
    </section>
    <article class="col-lg-8 col-md-10 col-12 px-sm-5 mx-auto">
        <p>I am Ikromjon Xusanov, a 18-year-old <strong>Software Engineer</strong> from Tashkent, Uzbekistan, currently living in Warsaw, Poland.</p>
              <p>Recently I experimented working standing
                  and found it really useful to stay focused and a little healthier. I was able to transform my workstation with the books I read.</p>
              <p>I am also known as "<strong>lazy programmer</strong>", very handy nature for programmers. I love repetitive tasks, I see them as an opportunity for automation. Also, whenever I am not working standing, you find me working laying on a sofa.</p>
              <p>In short, it's me, Ikromjon, a friendly programmer from Uzbekistan. </p>
          </article>
{% endblock %}