{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Profile Section -->
    <section class="text-center">
        <img src="{% static 'images/me.png' %}" alt="Ikromjon" width="170px" class="rounded-circle mb-3">
        <h2 class="fw-bold mb-1">Ikromjon Xusanov</h2>
        <p class="text-muted job">Software Engineer</p>
        <div class="d-flex justify-content-center gap-3 my-3">
            <a href="https://github.com/ikromjonxusanov" class="text-dark fs-4"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/ikromjon-xusanov" class="text-dark fs-4"><i class="fa-brands fa-linkedin"></i></a>
            <a href="mailto:ikromjohnkhusanov@gmail.com" class="text-dark fs-4"><i class="fa-regular fa-envelope"></i></a>
        </div>
        <div class="mt-4">
            <a href="#" class="btn btn-dark px-4">Read Blog</a>
            <a href="{% url 'about' %}" class="btn btn-outline-dark px-4">About Me</a>
        </div>
    </section>

{% endblock %}